/* code for the header and footer for the site*/

/* required for sticky footer and header*/
html {
    height: 100%;
}

body {
    height: 100%;
    background: rgba(100,100,100,1);  /* background color */
    /* The html and body elements cannot have any padding or margin. */
}

/* sets the dimensions needed for a footer to be pushed to the bottom of the page*/
#mainContentSection {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin-bottom: -60px;
    padding: 60px 0 60px; /* the top padding corresponds to the header size, the bottom padding is for the footer size*/
    
}

/* Set the fixed height of the footer here */
#footer {
    height: 60px;
    background: rgb(246, 246, 246);
}

@media (max-width: 992px) {
    #footer {
        height: 100px;
    }
    #mainContentSection {
        margin-bottom: -100px;
        padding-bottom: 100px;
    }
}

@media (max-width: 768px) {
   .nav-pills > li{
        float: none;
    }

    #footer {
        height: 90px;
    }
    
    #mainContentSection {
        margin-bottom: -90px;
        padding-bottom: 90px; 
    }
}

/* header CSS */

#navbar{
    font-size: x-large;
}

#logoLink {
    float: left;
   // overflow: hidden;
    height: 60px;
    width: auto;
}

#logoPageTop {
     background: black;
     color: white;
     border: 3px solid red;
     height: 61px;
     width: 70px;
     font-size: 40px;
     text-align: center;
     vertical-align: middle;
}

#navBarPageTop {
    padding-top: 7px;
}

#navBarPageTop > li >ul >li >a {
    font-size: large;
}

/* footer CSS */
.footer {
    background: white;
}

#footerHr {
    margin: 5px;
}

#footerContactUs {
    margin: 12px 0 0 0;
}

#socialLinks{
    display:block;
    width: auto;
    text-align: center;
}

#facebookButton{
    display: inline-block;
    margin: 7px 10px 0 0;
}

#meetupButton {
    display: inline-block;
    margin: 7px 0px 0 10px;
}

#twitterButton {
    display: inline-block;
    margin: 14px 0px 0 10px;
}

#copyrightSection {
    text-align: right;
    margin: 12px 0 0 0;
}

@media (max-width: 992px) {

    #footerContactUs {
        text-align: center;
        margin: 4px 0 0 0;
    }
    #socialLinks{
        text-align: center;
        margin: 0px 5px 0 0;
    }

    #copyrightSection {
        text-align:center;
        margin: 1px 5px 0 0;
    }

    #facebookButton{
        display: inline-block;
        margin: 2px 10px 0 0;
    }

    #meetupButton {
        display: inline-block;
        margin: 2px 0px 0 10px;
    }
}
